# SERVER-SIDE

.ipynb_checkpoints/
.env
venv
__pycache__/
csv_data_files/
instance/
assistant_data/faiss_index_assistant/
document-images/
faiss-vectorstore/
uploaded-documents/
extracted-images/
syllabus-vectorstore/
lab-manuals/
server/downloads
presentations/
*.zip
.ipynb_checkpoints/
.env
venv
__pycache__/
csv_data_files/
instance/
assistant_data/faiss_index_assistant/
document-images/
faiss-vectorstore/
uploaded-documents/
extracted-images/
syllabus-vectorstore/
lab-manuals/
server/downloads
presentations/
videos/
#specific files
temp.txt

# CLIENT-SIDE
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.rar